// ======================================================================================
// main section

// templates
%subtitle {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 18px;
  border-radius: 5px;
}
.button {
  // ============
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  padding: 20px 40px;

  // font settings
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 152%;

  // other
  cursor: pointer;
}

.main {
  height: 107vh;
  width: 100vw;
  background-image: url(../img/background/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  // flex
  display: flex;
  align-items: center;

  // text body
  .text-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 650px;
  }

  &__subtitle {
    @extend %subtitle;
    // text
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: 11px;
  }
  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1px;
    @include media(400px) {
      font-size: 32px;
    }
  }
  &__description {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    @include media(400px) {
      font-size: 20px;
    }
  }
}

.text-container {
  display: flex;
  gap: 20px;
  align-items: center;
  @include media($md2) {
    flex-direction: column-reverse;
  }

  button {
    background-color: var(--orange);
    border: none;
    padding: 30px 50px;
    border-radius: 8px;
    cursor: pointer;

    // text
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%;
    @include media(400px) {
      padding: 20px;
    }
  }
  &__button {
    @include media($md2) {
      width: 100%;
    }
  }

  p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

// goods catalog section

.goods {
  // .goods__row

  color: var(--black);

  &__row {
    // display
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  // .goods__title

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 125% */
    letter-spacing: -1px;
    text-align: center;

    @include media(400px) {
      font-size: 28px;
    }
  }

  // .goods__grid

  &__grid {
    // display
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include grid_colums(1000px, 700px);
  }

  // .goods__item

  &__item {
    // item
    border-radius: 10px;
    box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.25);
    width: 100%;

    // components
    &__img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 143%;
    }
    &__description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    &__price {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
    &__text {
      padding: 50px 44px;
    }
  }
}

// advert  section
// ==================================

.advert {
  width: 100vw;
  height: 120vh;

  // background
  background-image: url(../img/background/bg-2.png);
  background-color: var(--blue-dark);
  background-repeat: no-repeat;
  background-size: cover;

  // flex
  display: flex;
  align-items: center;

  // .advert__row
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    @include grid_colums(930px, 930px);
    &__img {
      width: 800px;
    }
  }

  // text-body
  .text-body {
    color: var(--white);
    max-width: 481px;
    // flex
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media($md2) {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 20px;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__subtitle {
      @extend %subtitle;

      // text
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }

    // .text-body__title

    &__title {
      // text
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -1px;
    }

    // .text-body__button

    &__button {
    }

    // .text-body__description
    &__description {
      // text
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 143%;
      letter-spacing: -0.2px;
    }
  }
}
