// ======================================================================================
// main section

// templates
%subtitle {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 18px;
  border-radius: 5px;

  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-size: 11px;
}
.button {
  // ============
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  padding: 20px 40px;

  // font settings
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 152%;

  // other
  cursor: pointer;
}

.main {
  min-height: 107vh;
  width: 100vw;
  background-image: url(../img/background/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  // flex
  display: flex;
  align-items: center;

  // text body
  .text-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 650px;
  }

  &__subtitle {
    @extend %subtitle;
    // text
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: 11px;
  }
  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1px;
    @include media(400px) {
      font-size: 32px;
    }
  }
  &__description {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    @include media(400px) {
      font-size: 20px;
    }
  }
}

.text-container {
  display: flex;
  gap: 20px;
  align-items: center;
  @include media($md2) {
    flex-direction: column-reverse;
  }

  button {
    background-color: var(--orange);
    border: none;
    padding: 30px 50px;
    border-radius: 8px;
    cursor: pointer;

    // text
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%;
    @include media(400px) {
      padding: 20px;
    }
  }
  &__button {
    @include media($md2) {
      width: 100%;
    }
  }

  p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

// goods catalog section

.goods {
  width: 100vw;
  // .goods__row

  color: var(--black);

  &__row {
    // display
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  // .goods__title

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 125% */
    letter-spacing: -1px;
    text-align: center;

    @include media(400px) {
      font-size: 28px;
    }
  }

  // .goods__grid

  &__grid {
    // display
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include grid_colums(1000px, 700px);
  }

  // .goods__item

  &__item {
    // item
    border-radius: 10px;
    box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.25);
    width: 100%;

    // components
    &__img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 143%;
    }
    &__description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    &__price {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
    &__text {
      padding: 50px 44px;
    }
  }
}

// advert  section
// ==================================

.advert {
  width: 100vw;
  min-height: 120vh;

  // background
  background-image: url(../img/background/bg-2.png);
  background-color: var(--blue-dark);
  background-repeat: no-repeat;
  background-size: cover;

  // flex
  display: flex;
  align-items: center;

  // .advert__row
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    @include grid_colums($md2, $md2);
    &__img {
      width: 800px;
    }
  }

  // text-body
  .text-body {
    color: var(--white);
    max-width: 481px;
    // flex
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media($md2) {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 20px;

      max-width: 100%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__subtitle {
      @extend %subtitle;

      // text
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }

    // .text-body__title

    &__title {
      // text
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -1px;
    }

    // .text-body__button

    // .text-body__description
    &__description {
      // text
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 143%;
      letter-spacing: -0.2px;
    }
  }
}

// ================================================================
// Resume section

.resume {
  min-height: 100vh;
  width: 100vw;

  // flex
  display: flex;
  align-items: center;
  // .resume__row

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include grid_colums($md2, $md2);
  }

  // .resume__img

  &__img {
    position: relative;
    .absolute {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: -50px;
      bottom: 30%;
      @include media($md3) {
        left: 0;
        bottom: 0;
      }
      margin: 0;
      // ======
      .container-1 {
        transform: skewX(-25deg);
        border-radius: 8px;
        background-color: #2e363e;
      }
      .container-2 {
        transform: skewX(-25deg);
        border-radius: 0 0 8px 8px;
        background-color: #f2f6fa;
      }
      h3 {
        position: relative;
        margin: 0;
        padding: 15px;

        transform: skewX(25deg);

        //text

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.3px;
      }
      h4 {
        border-radius: 4px;
        padding: 15px;
        text-align: center;
        margin: 0;
        transform: skewX(25deg);
        // text
        color: var(--black);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  // .resume__text-body

  &__text-body {
    color: var(--black);

    // flex
    display: flex;
    flex-direction: column;
    align-items: start;
    // ===

    &__subtitle {
      @extend %subtitle;
      background-color: #f2f6fa;
    }
    &__title {
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 60px; /* 125% */
      letter-spacing: -1px;
    }

    &__ul {
      li {
        list-style: inside;
        padding: 23px 0;
        max-width: 580px;

        &::marker {
          color: var(--blue-white);
          font-size: 30px;
        }

        //text
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    &__button {
      margin: 20px 0 0 0;
    }
  }
}

// ================================================
// reviews

.reviews {
  width: 100vw;
  min-height: 110vh;

  background-image: url(../img/background/bg-3.png);
  background-color: var(--blue-dark);
  background-repeat: no-repeat;
  background-size: cover;

  // .reviews__items

  // .reviews__item

  &__item {
    background-color: var(--white);
    padding: 70px 143px;
    color: var(--black);
    max-width: 1000px;

    &__row {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 54px;
    }

    &__text-body {
      max-width: 460px;

      &__header {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%;
      }

      &__text {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
      }

      &__button {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #4a94ff;
      }
    }

    &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.user {
  // .user__name

  &__name {
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;
  }

  // .user__description

  &__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
}

.nav-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.reviews-button-prev {
  width: 70px;
  height: 70px;
  background-color: #fed84c;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border: solid var(--blue-dark);
    border-width: 0 5px 5px 0;
    border-radius: 0 4px 4px 4px;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(130deg);
  }
}
.reviews-button-next {
  width: 70px;
  height: 70px;
  background-color: #fed84c;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border: solid var(--blue-dark);
    border-width: 0 5px 5px 0;
    border-radius: 0 4px 4px 4px;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
