:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #fed84c;
  --blue-dark: #081130;
  --blue-white: #5d6afb;
  --tr-1: all 0.3s ease;
  --tr-2: all 0.5s ease;
  --tr-3: all 1s ease;
  --shadow-1: ;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul,
ol {
  padding: 0;
  list-style: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1192px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.resume__text-body__subtitle, .advert .text-body__subtitle, .main__subtitle {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 18px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-size: 11px;
}

.button {
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 152%;
  cursor: pointer;
}

.main {
  min-height: 107vh;
  width: 100vw;
  background-image: url(../img/background/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .text-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 650px;
}
.main__subtitle {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-size: 11px;
}
.main__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
}
@media (max-width: 400px) {
  .main__title {
    font-size: 32px;
  }
}
.main__description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
}
@media (max-width: 400px) {
  .main__description {
    font-size: 20px;
  }
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.text-container button {
  background-color: var(--orange);
  border: none;
  padding: 30px 50px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 152%;
}
@media (max-width: 400px) {
  .text-container button {
    padding: 20px;
  }
}
@media (max-width: 991.98px) {
  .text-container__button {
    width: 100%;
  }
}
.text-container p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.goods {
  width: 100vw;
  color: var(--black);
}
.goods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.goods__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 125% */
  letter-spacing: -1px;
  text-align: center;
}
@media (max-width: 400px) {
  .goods__title {
    font-size: 28px;
  }
}
.goods__grid {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1000px) {
  .goods__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .goods__grid {
    grid-template-columns: 100%;
  }
}
.goods__item {
  border-radius: 10px;
  -webkit-box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.25);
          box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.25);
  width: 100%;
}
.goods__item__img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.goods__item__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
}
.goods__item__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.goods__item__price {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.goods__item__text {
  padding: 50px 44px;
}

.advert {
  width: 100vw;
  min-height: 120vh;
  background-image: url(../img/background/bg-2.png);
  background-color: var(--blue-dark);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .advert {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.advert__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
@media (max-width: 991.98px) {
  .advert__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .advert__row {
    grid-template-columns: 100%;
  }
}
.advert__row__img {
  width: 800px;
}
.advert .text-body {
  color: var(--white);
  max-width: 481px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .advert .text-body {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 20px;
  }
}
.advert .text-body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advert .text-body__subtitle {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.advert .text-body__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
}
.advert .text-body__description {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: -0.2px;
}

.resume {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resume__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 991.98px) {
  .resume__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .resume__row {
    grid-template-columns: 100%;
  }
}
.resume__img {
  position: relative;
}
.resume__img .absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -50px;
  bottom: 30%;
  margin: 0;
}
@media (max-width: 767.98px) {
  .resume__img .absolute {
    left: 0;
    bottom: 0;
  }
}
.resume__img .absolute .container-1 {
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
  border-radius: 8px;
  background-color: #2e363e;
}
.resume__img .absolute .container-2 {
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
  border-radius: 0 0 8px 8px;
  background-color: #f2f6fa;
}
.resume__img .absolute h3 {
  position: relative;
  margin: 0;
  padding: 15px;
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}
.resume__img .absolute h4 {
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  margin: 0;
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg);
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.resume__text-body {
  color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.resume__text-body__subtitle {
  background-color: #f2f6fa;
}
.resume__text-body__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 125% */
  letter-spacing: -1px;
}
.resume__text-body__ul li {
  list-style: inside;
  padding: 23px 0;
  max-width: 580px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.resume__text-body__ul li::marker {
  color: var(--blue-white);
  font-size: 30px;
}
.resume__text-body__button {
  margin: 20px 0 0 0;
}

.reviews {
  width: 100vw;
  min-height: 110vh;
  background-image: url(../img/background/bg-3.png);
  background-color: var(--blue-dark);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item {
  background-color: var(--white);
  padding: 70px 143px;
  color: var(--black);
  max-width: 1000px;
}
.reviews__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 54px;
}
.reviews__item__text-body {
  max-width: 460px;
}
.reviews__item__text-body__header {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
}
.reviews__item__text-body__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.reviews__item__text-body__button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #4a94ff;
}
.reviews__item__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__name {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
}
.user__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-button-prev {
  width: 70px;
  height: 70px;
  background-color: #fed84c;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.reviews-button-prev::after {
  content: "";
  position: absolute;
  border: solid var(--blue-dark);
  border-width: 0 5px 5px 0;
  border-radius: 0 4px 4px 4px;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%) rotate(130deg);
      -ms-transform: translate(-50%, -50%) rotate(130deg);
          transform: translate(-50%, -50%) rotate(130deg);
}

.reviews-button-next {
  width: 70px;
  height: 70px;
  background-color: #fed84c;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.reviews-button-next::after {
  content: "";
  position: absolute;
  border: solid var(--blue-dark);
  border-width: 0 5px 5px 0;
  border-radius: 0 4px 4px 4px;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

header {
  position: absolute;
  width: 100%;
  color: var(--white);
}
header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo h1 {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
}
header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .contacts .locate {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .contacts .locate svg {
  font-size: 10px;
}
header .contacts .phone {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .contacts .phone svg {
  font-size: 10px;
}

@media (max-width: 767.98px) {
  .burger span, .burger::before, .burger::after {
    position: absolute;
    content: "";
    background-color: var(--white);
    width: 100%;
    height: 2px;
    border-radius: 2px;
    -webkit-transition: var(--tr-1);
    transition: var(--tr-1);
  }
  .burger {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }
  .burger span {
    top: 9px;
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  header {
    position: fixed;
    background-color: var(--black);
  }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 10vh;
    opacity: 90%;
    padding-right: 10px;
    height: 100vh;
    background-color: var(--black);
    -webkit-transition: var(--tr-1);
    transition: var(--tr-1);
  }
  .contacts__container .locate,
  .contacts__container .phone {
    opacity: 100%;
  }
  .contacts__container.active {
    right: 0;
  }
}
footer {
  background-color: inherit;
}