// VARS
:root {
  // colors
  --black: #000000;
  --white: #ffffff;
  --orange: #fed84c;
  --blue-dark: #081130;
  --blue-white: #5d6afb;

  // transitions
  --tr-1: all 0.3s ease;
  --tr-2: all 0.5s ease;
  --tr-3: all 1s ease;

  // shadows
  --shadow-1: ;
}
